
body{
    background-color:white;
    font-family: sans-serif;  
}
h2{
    color:blue;
    text-align: center;
    text-decoration: underline;
}
table{
    width:50%;
    margin:20px auto;
    border:1px solid purple
}
th{
    /* border-width: 2px;
    border-color: purple;
    border-style: solid; */
    border:1px plum solid;
    text-align: center;
    background-color: lightgrey;
}
td{
    border:1px solid palevioletred
}
p{
    color:peru;
    font-size: larger;
}
h1{
    text-align: center;
    text-decoration: underline;
}
h3{
    color:magenta;
    text-align: center;
}