body{
    background-color: whitesmoke;
    font-family: sans-serif
}
#container{
    background-color: white;
    padding:20px;
    display:flex;
    gap:20px;
}
.service{
    border:1px solid gray;
    background-color: yellowgreen;
    flex:1
}
/* adding responsives */
@media(max-width:768px){
    body{
        background-color: beige;
    }
    #container{
        flex-direction: column;
    }
}
