body{
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    color:maroon;
    text-align: center;
}
#myform{
    border:1px solid purple;
    width:300px;
    margin: auto;
    padding:20px;
    background-color: palegoldenrod;
    border-radius: 5px;
}
input,textarea{
    border: 1px solid plum;
    width:100%;
    border-radius: 5px;
    padding:5px;
}
label{
    font-weight: bold;
   display:block;
}
input[type="submit"]{
    background-color: brown;
    color:white;
    margin-top: 10px;
    font-weight: bold;
    border:none;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: magenta;
}